/* @import url("https://free.bboxtype.com/embedfonts/?family=FiraGO:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,900,900i"); */

/* Variables */
:root {
  --color-main-1: #0FB7FF;
  --color-main-2: #32B4D7;
  --color-red: #E52942;
  --color-dark: #141B3D;
  --color-gray-1: #ACACAF;
  --color-gray-2: #9DA9B4;
  --color-gray-3: #5D6367;
  --color-white-1: #FFFFFF;
  --color-white-2: #F6F7F9;
}


* {
  margin: 0;
  padding: 0;
  font-family: "FiraGO", sans-serif;
}
ul li {
  list-style: none;
}
ul li a {
  text-decoration: none;
}
input,
button {
  outline: none;
}
.input-chackbox {
  display: flex;
}
.input-chackbox > input {
  display: none;
}
.input-chackbox > input + .checkmark {
  background: var(--color-white-1);
  border: 2px solid #d9d9d9;
  border-radius: 4px;
  position: relative;
  width: 12px;
  height: 12px;
  display: block;
  float: left;
}
.input-chackbox > input + .checkmark i {
  display: none;
}
.input-chackbox > input:checked + .checkmark {
  background: #0FB7FF 0% 0% no-repeat padding-box;
  border: none;
  border-radius: 4;
  width: 12px;
  height: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.input-chackbox > input:checked + .checkmark i {
  display: block;
  color: var(--color-white-1);
  font-size: 7px;
}

.input-chackbox > input + .checkmark-radio {
  width: 10px;
  height: 10px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 2px solid #acacaf;
  border-radius: 50%;
  position: relative;
  display: block;
  float: left;
}
.input-chackbox > input + .checkmark-radio i {
  display: none;
}
.input-chackbox > input:checked + .checkmark-radio {
  width: 10px;
  height: 10px;
  background: #0fb7ff 0% 0% no-repeat padding-box;
  border: 2px solid #0fb7ff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.input-chackbox > input:checked + .checkmark-radio i {
  display: block;
  color: var(--color-white-1);
  font-size: 7px;
}

.input-text {
  background: var(--color-white-1);
  border: 1px solid #dadde2;
  border-radius: 8px;
}
.header-footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.back-link {
  display: flex;
  align-items: center;
}
.back-link li a {
  display: flex;
  align-items: center;
  font-weight: 600;
  letter-spacing: 0;
  color: #acacaf;
  font-size: 10px;
}
.back-link li a i {
  margin-right: 8px;
}
body {
  background: #f6f7f9;
}
header {
  background: var(--color-white-1);
  width: 100%;
  display: block;
  margin-bottom: 23px;
}
.header-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0;
}
.header-left {
  display: flex;
  align-items: center;
}
.header-left > ul {
}
.logo {
  display: block;
  position: relative;
}
.logo h1 {
  font-family: "FiraGO", sans-serif;
  font-size: 23px;
  letter-spacing: 1.76px;
  color: #141b3d;
}

.logo p {
  width: 27px;
  height: 14px;
  background: var(--color-main-1);
  border-radius: 7px;
  color: var(--color-white-1);
  font-family: "FiraGO", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -12px;
  right: 0;
  font-size: 7px;
}
.logo img {
  width: 200px;
}
.menu {
  display: block;
  margin-left: 38px;
}
.menu ul {
  display: flex;
}
.menu ul li {
  margin-right: 30px;
}
.menu ul li a {
  color: #141b3d;
  font-family: "FiraGO", sans-serif;
  font-size: 12px;
  font-weight: 400;
}
.header-right {
  display: flex;
  align-items: center;
}
.user-container {
}
.user-container-item {
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.user-container-item p {
  letter-spacing: 0.36px;
  color: #001a34;
  font-size: 12px;
  margin-left: 6px;
  margin-right: 18px;
  font-weight: 500;
}
.user-container-item span {
  color: #acacaf;
  font-size: 12px;
}
.user-avatar {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
  border: 1px solid #cecece;
}
.user-avatar img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.revelation {
  display: block;
  margin-left: 42px;
  margin-right: 37px;
}
.revelation li {
  width: 139px;
  height: 48px;
  background: var(--color-main-1);
  border-radius: 6px;
}
.revelation li a {
  line-height: 48px;
  width: 100%;
  display: block;
  color: var(--color-white-1);
  letter-spacing: 0.36px;
  font-size: 12px;
  text-align: center;
  font-weight: 900;
}
.lang {
  height: 100%;
  display: flex;
  align-items: center;
}
.header-slider {
  position: relative;
  max-height: 346px;
  height: 100vw;
  background: #3080d7;
  border-radius: 16px;
  margin: 23px 0;
  width: 100%;
  display: inline-block;
  overflow: hidden;
}
.header-slider::before{
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background: url("../img/slider-bg.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  z-index: 1;
}
.slide-item {
  position: relative;
  display: flex;
  /* background: #3080d7; */
  border-radius: 16px;
  overflow: hidden;
}
.slider-content {
  width: 50%;
  margin-top: 65px;
  margin-left: 70px;
}
.slider-content-title {
  letter-spacing: 0;
  color: var(--color-white-1);
  font-size: 27px;
  line-height: 1.4;
  width: 397px;
  margin-bottom: 21px;
  font-weight: 700;
}
.slider-content-description {
  letter-spacing: 0;
  color: var(--color-white-1);
  font-size: 15px;
  line-height: 1.5;
  width: 443px;
  font-weight: 300;
}
.slider-content-link {
  width: 139px;
  height: 48px;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 6px;
  margin-top: 39px;
}
.slider-content-link a {
  text-align: center;
  font-weight: 500;
  letter-spacing: 0;
  color: var(--color-white-1);
  width: 100%;
  display: block;
  line-height: 48px;
  font-size: 12px;
}
.slider-img {
}
.owl-carousel,
.owl-stage-outer,
.header-slider .owl-stage {
  height: 100%;
}
.owl-theme .owl-nav {
  margin-top: 0;
}
.owl-nav .owl-prev i,
.owl-nav .owl-next i {
  font-size: 16px;
}
.header-slider .owl-carousel .owl-nav button.owl-next {
  right: 30px;
}
.header-slider .owl-carousel .owl-nav button.owl-prev {
  left: 30px;
}
.header-slider .owl-carousel .owl-nav button.owl-next,
.header-slider .owl-carousel .owl-nav button.owl-prev {
  display: none;
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  width: 57px;
  height: 56px;
  background: rgba(255, 255, 255, 0.2) 0% 0% no-repeat padding-box;
  opacity: 1;
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
  border: none;
  border-radius: 50%;
  color: var(--color-white-1);
  cursor: pointer;
}
.header-slider:hover .owl-carousel .owl-nav button.owl-next,
.header-slider:hover .owl-carousel .owl-nav button.owl-prev {
  display: block;
}
.header-slider .owl-carousel .owl-nav button.owl-prev {
  display: none !important;
}
.content {
  background: var(--color-white-1);
  border: 1px solid #e9ecf2;
  border-radius: 8px;
  padding: 36px;
  margin: 23px 0;
  float: left;
  width: 100%;
}
.content-header {
  width: 100%;
}
.content-title {
  display: inline-block;
  text-align: left;
  font-weight: 900;
  letter-spacing: 0;
  color: #141b3d;
  font-size: 24px;
}
.ongoing-tenders {
  display: inline-block;
  color: #9da9b4;
  font-size: 12px;
  font-weight: 400;
  cursor: pointer;
  margin-left: 18px;
}
.ongoing-tenders span {
  margin-left: 3px;
}
.search-out {
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  margin-top: 20px;
  padding-bottom: 12px;
}
.search{
  display: flex;
}
.search input {
  width: 306px;
  height: 35px;
  background: #f6f7f9;
  border: 1px solid #e4e6ea;
  border-radius: 8px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  padding: 0 43px;
  color: #acacaf;
  font-size: 11px;
  font-weight: 400;
}
.search button {
  position: absolute;
  top: 10px;
  background: transparent;
  border: none;
  cursor: pointer;
}
.search-btn {
  left: 15px;
}
.search-input {
  position: relative;
}
.lang-switcher {
  right: 15px;
}
.search-switch {
  height: 35px;
  width: 190px;
  background: #f6f7f9;
  border: 1px solid #e4e6ea;
  border-left: 0;
  border-radius: 8px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  color: #acacaf;
  font-size: 11px;
  font-weight: 400;
  display: flex;
  align-items: center;
  padding: 0 15px;
}
.search-switch input {
  display: none;
}
.toggle-switch-slider {
  position: relative;
  width: 31px;
  height: 19px;
  background: #32B4D7;
  margin: 0 12px;
  border-radius: 12px;
  cursor: pointer;
}
.toggle-switch-slider::after{
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 15px;
  height: 15px;
  background: var(--color-white-1);
  border-radius: 100%;
  transition: all .2s ease-in;
}
.toggle-switch-name,
.toggle-switch-code {
  cursor: pointer;
}
.toggle-switch-name {
  color: var(--color-main-2)
}
.search-switch input[type="checkbox"]:checked ~ .toggle-switch-name {
  color: var(--color-gray-2)
}
.search-switch input[type="checkbox"]:checked ~ .toggle-switch-code {
  color: var(--color-main-2)
}
.search-switch input[type="checkbox"]:checked ~ .toggle-switch-slider::after {
  transform: translateX(11px);
}
.table-head-title {
  display: flex;
}
.table-head-title p {
  font-weight: 400;
  letter-spacing: 0;
  color: #9da9b4;
  font-size: 12px;
}
.table-head-title p:nth-of-type(1) {
  margin-right: 68px;
}
.tab-headings {
  padding: 0 0 12px 0;
  border-bottom: 1px solid #f6f7f9;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tab-headings ul {
  display: flex;
}
.tab-headings ul li:not(:last-child){
  margin-right: 7px;
}
.tab-headings button {
  display: block;
  padding: 9px 15px;
  background: var(--color-white-1);
  border: 1px solid #DEE3E6;
  border-radius: 16px;
  font-size: 12px;
  font-family: "FiraGO", sans-serif;
  color: #5D6367;
  cursor: pointer;
}
.tab-headings ul button.active{
  color: #fff;
  background: #32B4D7;
  border: none;
}
.tenders-list {
  width: 100%;
}
.tenders-list li {
  width: 100%;
}
.tenders-list-item {
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding: 17px 0;
  border-bottom: 1px solid #f6f7f9;
  position: relative;
}
.list-item-img {
  width: 57px;
  height: 56px;
  border: 1px solid #e7eaef;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 16px;
}
.list-item-img img {
  max-width: 70%;
  max-height: 70%;
}
.list-item-title {
  width: 55%;
  margin-top: 9px;
  display: block;
}
.list-item-title h1 {
  font-size: 13px;
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: 0;
  color: #141b3d;
}
.list-item-title span {
  letter-spacing: 0;
  color: #acacaf;
  font-weight: 400;
  margin-top: 6px;
  font-size: 13px;
}
.list-item-modified {
  position: relative;
  padding-left: 16px;
}
.list-item-modified::before {
  content: "E";
  position: absolute;
  top: -1px;
  left: 0;
  line-height: 1;
  padding: 2px 3px;
  border-radius: 2px;
  color: var(--color-white-1);
  background: var(--color-red);
}
.list-item-right {
  display: flex;
  align-items: center;
  position: absolute;
  right: 0;
  margin-top: 15px;
}
.list-item-right p {
  font-weight: 500;
  letter-spacing: 0;
  color: #141b3d;
  font-size: 13px;
}
.list-item-right p:nth-of-type(1) {
  margin-right: 68px;
}
.list-item-right p.new {
  background: #32B4D7 0% 0% no-repeat padding-box;
  border-radius: 6px;
  padding: 7px 12px;
  color: var(--color-white-1);
}
.list-item-right p.vip {
  background: #F1616F 0% 0% no-repeat padding-box;
  border-radius: 6px;
  padding: 7px 24px;
  color: var(--color-white-1);
}
.sponsors {
  width: 100%;
  display: block;
}
.sponsors-title {
  width: 100%;
  font-weight: 700;
  letter-spacing: 0;
  color: var(--color-main-1);
  font-size: 12px;
  margin-bottom: 12px;
  margin-top: 15px;
}
.sponsor-item-out{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  column-gap: 8px;
}
.sponsor-item{
  width: 100%;
  background: var(--color-white-1);
  border: 1px solid #EBEBEB;
  border-radius: 8px;
  margin-right: 8px;
}
.sponsor-item:last-child{
  margin-right: 0;
}
.sponsor-item a{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 20px 13px;
}
.sponsor-item-title{
  font-weight: 500;
  letter-spacing: 0;
  color: #141B3D;
  font-size: 13px;
  margin-bottom: 5px;
}
.sponsor-item-count-tender{
  font-weight: 400;
  letter-spacing: 0;
  color: #ACACAF;
  font-size: 10px;
}
.sponsor-item-img{
  width: 127px;
  height: 89px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.sponsor-item-img img {
  max-width: 100%;
  max-height: 100%;
}
.sponsor-add-new {
  margin-bottom: 10px;
  width: 127px;
  height: 89px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sponsor-add-new button {
  width: 56px;
  height: 56px;
  border-radius: 100%;
  border: 1px dashed #F0F0F0;
  background-color: transparent;
  cursor: pointer;
}
.sponsor-add-new i {
  color: var(--color-main-1);
  font-size: 20px;
}
.main-right {
  width: 100%;
  float: left;
}
.main-right-title {
  width: 100%;
  font-weight: 500;
  letter-spacing: 0;
  color: #141b3d;
  font-size: 12px;
  margin-bottom: 18px;
}
.main-right-list {
  width: 100%;
  border-bottom: 1px solid rgba(172, 172, 175, 0.2);
  padding-bottom: 21px;
}
.main-right-list li {
  font-weight: 300;
  letter-spacing: 0;
  color: #141b3d;
  font-size: 12px;
  position: relative;
}
.main-right-list li:before{
  content: "";
  position: absolute;
  z-index: 1;
  left: -1px;
  top: 4px;
  width: 6px;
  height: 6px;
  background-color: #ACACAF;
  border-radius: 50%;
}
.announce {
  margin-top: 16px;
  width: 100%;
}
.announce li {
  background: var(--color-main-1);
  border-radius: 6px;
  width: 100%;
  margin: auto;
}
.announce li a {
  width: 100%;
  display: block;
  line-height: 47px;
  text-align: center;
  letter-spacing: 0.36px;
  color: var(--color-white-1);
  font-size: 12px;
  font-weight: 900;
}
.announce-price {
  text-align: center;
  letter-spacing: 0;
  color: #9da9b4;
  width: 100%;
  display: block;
  font-size: 12px;
  margin-top: 9px;
}
.page-navigation-out {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 38px;
}
.page-navigation {
  display: block;
}
.page-navigation li {
  display: inline-block;
  width: 33px;
  height: 33px;
  overflow: hidden;
}
.page-navigation li:first-child,
.page-navigation li:last-child {
  border: 2px solid rgba(172, 172, 175, 0.2);
  border-radius: 10px;
}
.page-navigation li:first-child a,
.page-navigation li:last-child a {
  font-size: 12px;
}
.page-navigation li a {
  font-weight: 500;
  letter-spacing: 0;
  color: #9da9b4;
  width: 100%;
  display: block;
  line-height: 30px;
  text-align: center;
  font-size: 15px;
}
.page-navigation li.active {
  background: #32B4D7;
  border: none;
  border-radius: 10px;
}
.page-navigation li.active a {
  color: var(--color-white-1);
}

/* detail page css */
.tender-share {
  display: flex;
  align-items: center;
}
.tender-share li a {
  display: flex;
  align-items: center;
  font-weight: 600;
  letter-spacing: 0;
  color: #141b3d;
  font-size: 10px;
}
.tender-share li a img {
  margin-right: 4px;
}
.tender-details-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tender-details-logo {
  width: 196px;
  height: 67px;
  border: 1px solid #ebeced;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tender-details-logo img {
  max-width: 70%;
  max-height: 70%;
}
.tender-details-right {
  display: flex;
}
.tender-details-right-time {
  font-weight: 500;
  letter-spacing: 0;
  color: #9da9b4;
  font-size: 12px;
  display: flex;
  align-items: center;
}
.tender-details-right-time span {
  font-weight: 400;
}
.tender-details-right-status {
  font-weight: 500;
  letter-spacing: 0;
  color: #9da9b4;
  font-size: 12px;
  padding-left: 11px;
  margin-left: 26px;
  border-left: 2px solid #acacaf;
  display: flex;
  align-items: center;
}
.tender-details-right-status span {
  padding: 5px 10px;
  background: #fd7804 0% 0% no-repeat padding-box;
  border-radius: 8px;
  letter-spacing: 0;
  color: var(--color-white-1);
  font-weight: 500;
  font-size: 12px;
  margin-left: 10px;
}
.tender-details-title {
  margin-top: 17px;
  font-weight: 600;
  letter-spacing: 0;
  color: #141b3d;
  font-size: 19px;
}
.tender-details-tab {
  margin-top: 50px;
}
.tender-details-tab-header {
  width: 100%;
  display: flex;
  border-bottom: 1px solid #dadde2;
}
.tender-details-tab-header-item {
  padding: 12px 22px;
  cursor: pointer;
  position: relative;
  border: 1px solid transparent;
  font-weight: 500;
  letter-spacing: 0;
  color: #9da9b4;
  font-size: 12px;
}
.tender-details-tab-header-item.active {
  background: var(--color-white-1);
  border: 1px solid #dadde2;
  border-bottom: 1px solid transparent;
  border-radius: 6px 6px 0px 0px;
  color: var(--color-main-1);
}
.tender-details-tab-header-item.active:before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 1px;
  background: var(--color-white-1);
}
.tender-details-tab-body {
  margin-top: 28px;
}
.tender-details-documentation {
  width: 100%;
  margin-top: 76px;
}
.tender-details-documentation-title {
  letter-spacing: 0;
  color: #141b3d;
  font-weight: 500;
  font-size: 14px;
  position: relative;
}
.tender-details-documentation-title:before {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 0;
  width: 29px;
  height: 3px;
  background: #141b3d;
}
.tender-details-document-content {
  width: 100%;
  margin-top: 21px;
  display: flex;
}
.tender-details-document {
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #cad0d8;
  border-radius: 52px;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-right: 18px;
}
.tender-details-document-icon {
  width: 45px;
  height: 45px;
  background: #f6f7f9 0% 0% no-repeat padding-box;
  border-radius: 52px;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tender-details-document span {
  margin-left: 10px;
  margin-right: 38px;
  font-weight: 400;
  letter-spacing: 0;
  color: #141b3d;
  font-size: 12px;
}
.tender-details-document-download {
  font-weight: 500;
  background: transparent;
  letter-spacing: 0;
  color: var(--color-main-1);
  border: none;
  font-size: 12px;
  display: flex;
  align-items: center;
  margin-top: 22px;
  cursor: pointer;
}
.tender-details-document-download img {
  margin-right: 8px;
}
.tender-details-timer-title {
  text-align: center;
  margin-bottom: 12px;
  font-weight: 600;
  letter-spacing: 0;
  color: #141b3d;
  font-size: 12px;
}
.tender-details-timer {
  display: flex;
  background: #f6f7f9 0% 0% no-repeat padding-box;
  border: 3px solid var(--color-main-1);
  border-radius: 8px;
  width: 100%;
  justify-content: center;
  padding: 12px 28px;
  margin: 0 auto 18px auto;
}
.tender-details-timer > div {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.tender-details-timer > div > h2 {
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0;
  color: #141b3d;
}
.tender-details-timer > div > p {
  font-weight: 500;
  letter-spacing: 0;
  color: #acacaf;
  font-size: 10px;
}
.tender-details-timer span {
  margin: 0 12px;
  color: #acacaf;
}
.tender-details-section-info {
  width: 100%;
}
.tender-details-section-info li {
  margin: 10px 0 0 0;
}
.tender-details-section-info li a {
  display: flex;
  align-items: center;
  font-weight: 400;
  letter-spacing: 0;
  color: #141b3d;
  font-size: 11px;
}
.tender-details-section-info-cion {
  width: 26px;
  height: 26px;
  background: #f1f2f4;
  box-shadow: 0px 3px 90px #acacaf33;
  border: 1px solid #e9ecf2;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
}
.tender-details-section-title {
  font-weight: 500;
  letter-spacing: 0;
  color: #141b3d;
  font-size: 11px;
  margin-bottom: 18px;
}
.sunny-tenders-list {
  width: 100%;
  float: left;
}
.sunny-tenders-list-item {
  width: 100%;
  float: left;
  margin-bottom: 17px;
}
.sunny-tenders-list-img {
  width: 44px;
  height: 44px;
  border: 1px solid #e7eaef;
  border-radius: 4px;
  display: flex;
  float: left;
  align-items: center;
  justify-content: center;
}
.sunny-tenders-list-img img {
  max-width: 70%;
  max-height: 70%;
}
.sunny-tenders-list-title {
  margin-top: 5px;
  display: inline-block;
  width: calc(100% - 44px);
  float: right;
  padding-left: 8px;
}
.sunny-tenders-list-title h1 {
  font-weight: 300;
  letter-spacing: 0;
  color: #141b3d;
  font-size: 10px;
}
.all-sunny-tenders {
  width: 100%;
  height: 37px;
  background: #f6f7f9 0% 0% no-repeat padding-box;
  border-radius: 8px;
  float: left;
}
.all-sunny-tenders a {
  line-height: 37px;
  width: 100%;
  display: block;
  text-align: center;
  font-weight: 600;
  letter-spacing: 0;
  color: var(--color-main-1);
  font-size: 11px;
}

/* add tender page  */
.add-tender-form{
  float: left;width: 100%;
}
.add-tender-page {
  width: 100%;
}
.add-tender-page-title {
  width: 100%;
  font-weight: 700;
  letter-spacing: 0;
  color: #141b3d;
  font-size: 23px;
}
.add-tender-header {
  display: flex;
  margin: 15px 0 44px 0;
}
.add-tender-header-item {
  padding: 12px 22px;
  background: rgba(157, 169, 180, 0.1);
  color: #9da9b4;
  position: relative;
  margin-right: 25px;
  font-weight: 500;
  font-size: 12px;
  display: flex;
  align-items: center;
}
.add-tender-header-item.active {
  background: rgba(15, 183, 255, 0.1);
  color: var(--color-main-1);
}
.add-tender-header-item:first-child:after {
  display: none;
}
.add-tender-header-item:before {
  content: "";
  position: absolute;
  background: rgba(157, 169, 180, 0.1);
  width: 20px;
  height: 100%;
  top: 0;
  right: -20px;
  -webkit-clip-path: polygon(0 2%, 0% 100%, 100% 50%);
  clip-path: polygon(0 2%, 0% 100%, 100% 50%);
}
.add-tender-header-item.active:before {
  content: "";
  position: absolute;
  background: rgba(15, 183, 255, 0.1);
  width: 20px;
  height: 100%;
  top: 0;
  right: -19.999px;
  -webkit-clip-path: polygon(0 2%, 0% 100%, 100% 50%);
  clip-path: polygon(0 2%, 0% 100%, 100% 50%);
}
.add-tender-header-item:after {
  content: "";
  position: absolute;
  background: rgba(157, 169, 180, 0.1);
  width: 20px;
  height: 100%;
  top: 0;
  left: -19.999px;
  -webkit-clip-path: polygon(0 1%, 100% 0, 100% 99%, 0 100%, 100% 50%);
  clip-path: polygon(0 1%, 100% 0, 100% 99%, 0 100%, 100% 50%);
}
.add-tender-header-item.active:after {
  content: "";
  position: absolute;
  background: rgba(15, 183, 255, 0.1);
  width: 20px;
  height: 100%;
  top: 0;
  left: -19.999px;
  -webkit-clip-path: polygon(0 1%, 100% 0, 100% 99%, 0 100%, 100% 50%);
  clip-path: polygon(0 1%, 100% 0, 100% 99%, 0 100%, 100% 50%);
}
.add-tender-name {
  width: 100%;
  margin-bottom: 25px;
  float: left;
}
.add-tender-name p,
.add-tender-description p {
  margin-bottom: 12px;
  font-weight: 500;
  letter-spacing: 0;
  color: #141b3d;
  font-size: 12px;
}
.add-tender-name input {
  width: 100%;
  padding: 15px;
}
.add-tender-description {
  width: 100%;
  float: left;
}
.add-tender-description textarea {
  width: 100%;
  resize: none;
  max-height: 193px;
  height: 100vw;
  padding: 15px;
  outline: none;
}
.add-tender-type {
  display: flex;
}
.add-tender-type label {
  display: flex;
  align-items: center;
}
.add-tender-type label div {
  margin-right: 5px;
}
.add-tender-type label p {
  font-weight: 400;
  letter-spacing: 0;
  color: #141b3d;
  font-size: 12px;
  margin-right: 18px;
}

.add-tender-type,
.add-tender-mails,
.add-tender-dedlain,
.add-tender-start {
  display: flex;
  align-items: center;
  margin: 20px 0;
  width: 100%;
  float: left;
}

.add-tender-type span,
.add-tender-mails span,
.add-tender-dedlain span,
.add-tender-start span {
  width: 100%;
  max-width: 250px;
  font-weight: 500;
  letter-spacing: 0;
  color: #141b3d;
  font-size: 12px;
  margin-right: 54px;
}

.add-tender-type input,
.add-tender-mails input,
.add-tender-dedlain input,
.add-tender-start input {
  padding: 12px 23px;
}

.add-tender-mails input {
  width: 100%;
}
.add-tender-btn {
  background: #0FB7FF 0% 0% no-repeat padding-box;
  border-radius: 6px;
  padding: 16px 47px;
  color: var(--color-white-1);
  font-weight: 900;
  letter-spacing: 0.36px;
  font-size: 12px;
  border: none;
  float: right;
  margin: 30px 0;
  cursor: pointer;
}
.add-tender-dedlain input,
.add-tender-start input {
  max-width: 277px;
  width: 100%;
}
.add-tender-upload-content {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-top: 15px;
  margin-bottom: 53px;
}
.add-tender-upload {
  background: #0fb7ff 0% 0% no-repeat padding-box;
  border-radius: 52px;
  cursor: pointer;
}
.add-tender-upload div {
  display: flex;
  align-items: center;
  font-weight: 400;
  letter-spacing: 0;
  color: var(--color-white-1);
  font-size: 12px;
  padding: 14px 37px;
}
.add-tender-upload div img {
  margin-right: 8px;
}
.add-tender-upload input {
  position: absolute;
  opacity: 0;
  width: 0px;
  height: 0px;
}
.add-tender-uploaded {
  border-radius: 52px;
  border-bottom: 1px solid #cad0d8;
  border-left: 1px solid #cad0d8;
  border-top: 1px solid #0FB7FF;
  border-right: 1px solid #0FB7FF;
  background: var(--color-white-1);
  display: flex;
  align-items: center;
  padding-right: 37px;
  margin-right: 21px;
}
.add-tender-uploaded span {
  font-weight: 400;
  letter-spacing: 0;
  color: #141b3d;
  font-size: 12px;
}
.add-tender-uploaded-icon {
  width: 45px;
  height: 45px;
  background: #f6f7f9 0% 0% no-repeat padding-box;
  border-radius: 52px;
  margin: 4px 15px 4px 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.add-tender-category-list-check {
  padding: 13px 27px;
}
.add-tender-category-list-check span {
  width: fit-content;
}
.add-tender-category-list-check:nth-of-type(2n + 2) {
  background: #f9f9f9;
}

.add-tender-category-list-check .checkmark {
  width: 21px !important;
  height: 21px !important;
  margin-right: 12px;
}
.add-tender-category-header {
  padding: 20px 25px;
  background: #f6f7f9;
}
.search-name-or-cpv{
  height: 37px;
  margin-left: 35px;
}
.tender-back-btn {
  background: #9da9b4 0% 0% no-repeat padding-box;
  border-radius: 6px;
  padding: 16px 47px;
  color: var(--color-white-1);
  font-weight: 900;
  letter-spacing: 0.36px;
  font-size: 12px;
  border: none;
  float: left;
  margin: 30px 0;
  cursor: pointer;
}
.add-tender-category-title {
  font-weight: 500;
  letter-spacing: 0;
  color: #141b3d;
  font-size: 12px;
  width: 100%;
  float: left;
}

.add-tender-uploaded-section {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-top: 14px;
  float: left;width: 100%;
}
.add-tender-uploaded-item {
  border-radius: 52px;
  border: 1px solid #cad0d8;
  background: var(--color-white-1);
  display: flex;
  align-items: center;
  padding-right: 37px;
  margin-right: 21px;
  position: relative;
}
.add-tender-uploaded-item-remove {
  display: none;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 1;
  width: 24px;
  height: 24px;
  background: #e21b1b 0% 0% no-repeat padding-box;
  border-radius: 50%;
  top: 14px;
  right: 20px;
  color: var(--color-white-1);
  cursor: pointer;
}
.add-tender-uploaded-item:hover .add-tender-uploaded-item-remove {
  display: flex;
}
.company-add-input {
  height: 48px;
  width: 100%;
  margin: 12px 0 25px 0;
}
.company-added-name {
  margin-bottom: 22px;
}
.company-add-btn-out{
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
}
.company-add-btn{
  float: right;
  width: 100%;
  height: 48px;
  background: #0FB7FF 0% 0% no-repeat padding-box;
  border-radius: 12px;
  border: none;
  display: block;
  cursor: pointer;
  font-weight: 900;
  letter-spacing: 0.39px;
  color: var(--color-white-1);
  font-size: 13px;
}
.company-added-remove-out{
  display: flex;
  width: 100%;
  height: 100%;
  align-items: flex-start;
  justify-content: center;
}
.company-added-remove {
  width: 24px;
  height: 24px;
  background: #9DA9B4;
  border-radius: 50%;
  border: none;
  display: block;
  cursor: pointer;
  font-weight: 100;
  letter-spacing: 0.39px;
  color: var(--color-white-1);
  font-size: 13px;
}


.person-info-out-title{
  font-weight: 700;
  letter-spacing: 0;
  color: #141B3D;
  font-size: 23px;
  margin-bottom: 34px;
}
.person-info{
  width: 100%;
  display: block;
}
.person-info-menu{
  margin-top: 24px;
}
.person-info-menu li a img {
  width: 15px;
  margin-right: 10px;
}
.person-info-menu li{
  margin-bottom: 20px;
}
.person-info-menu li a {
  display: flex;
  align-items: center;
  font-weight: 400;
  letter-spacing: 0;
  color: #141B3D;
  font-size: 11px;
  position: relative;
}
.person-info-menu li a.active {
  font-weight: 500;
}
.person-info-menu li a i {
  display: none;
}
.person-info-menu li a.active i {
  display: block;
  position: absolute;
  right: 0;
  float: right;
}
.person-info-input {
  width: 100%;
  display: block;
  margin-bottom: 24px;
}
.person-info-input p {
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0;
  color: #141B3D;
  margin-bottom: 12px;
}
.person-info-input input {
  font-weight: 400;
  letter-spacing: 0;
  color: #141B3D;
  font-size: 13px;
  padding: 16px 25px;
  max-width: 453px;
  width: 100%;
}

.person-info-left{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-bottom: 35px;
  border-bottom: 1px solid #ECEEF2;
}
.person-info-left > .user-avatar{
  width: 91px;
  height: 91px;
}
.person-info-left-title{
  font: Medium 13px/15px FiraGO;
  letter-spacing: 0;
  color: #141B3D;
  font-size: 13px;
  margin-top: 15px;
}
.person-info-left-tenders-count{
  font: Regular 11px/13px FiraGO;
  letter-spacing: 0;
  color: #9DA9B4;
  font-size: 11px;
  margin-top: 11px;
}
.mob-menu{
  display: none;
}
.mob-menu-icon{
  background: none;
  border: none;
  color: #141B3D;
  margin-left: 22px;
  font-size: 18px;
}
.mob-menu-close{
  border: none;
  background: none;
  font-size: 18px;
  padding: 15px 30px;
}
.mob-menu ul {
  position: fixed;
  top: 0;
  right: 0;
  background-color: var(--color-white-1);
  width: 0%;
  height: 100%;
  transition: 0.3s;
  z-index: 9;
  display: none;
}
.mob-menu ul li{
  padding: 10px 30px;
}
.mob-menu ul li a{
  color: #141b3d;
  font-family: "FiraGO", sans-serif;
  font-size: 12px;
  font-weight: 400;
}
.mob-menu-bg{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 8;
  background-color: #00000073;
  display: none;
}
.list-item-right-mobile{
  display: none;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 5px;
}
.list-item-right-mobile p {
  font-weight: 500;
  letter-spacing: 0;
  color: #9DA9B4;
  font-size: 10px;
}
.list-item-right-mobile p:nth-of-type(1) {
  margin-right: 68px;
}
.list-item-right-mobile p.new {
  background: #32B4D7 0% 0% no-repeat padding-box;
  border-radius: 4px;
  padding: 2px 7px;
  color: var(--color-white-1);
}
.list-item-right-mobile p.vip {
  background: #F1616F 0% 0% no-repeat padding-box;
  border-radius: 4px;
  padding: 2px 14px;
  color: var(--color-white-1);
}
.add-tender-header-item p {
  display: none;
}
@media (max-width: 1250px){
  .logo img{
    width: 80px;
  }
  .content{
    padding: 15px;
  }
}
@media (max-width: 991px){
  .mob-row{
    flex-direction: column-reverse;
  }
  .user-container-item p,
  .user-container-item span,
  .revelation,
  .lang,
  .menu {
    display: none;
  }
  .user-avatar{
    width: 40px;
    height: 40px;
  }
  .header-item{
    padding: 20px 0;
  }
  .mob-menu{
    display: block;
  }
  .sponsors{
    display: none;
  }
  .announce-out-mob{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }
  .announce-price{
    width: auto;
    min-width: 100px;
  }
  .add-tender-header-item span{
    display: none;
  }
  .add-tender-header-item p{
    display: block;
  }
  .add-tender-header-item.active span{
    display: block;
  }
  .add-tender-header-item.active p{
    display: none;
  }
  .add-tender-header-item{
    padding: 12px;
  }
  .header-slider::before{
    background-position: 95px 120px;
    background-size: 95%;
  }
  .tab-headings {
    display: none;
  }
  .search-switch {
    display: none;
  }
  .search {
    width: 100%;
  }
  .search-input {
    width: 100%;
  }
  .search-input input {
    width: 100%;
    border-radius: 8px;
  }
}
@media (max-width: 767px){
  .list-item-right{
    display: none;
  }
  .table-head-title{
    display: none;
  }
  .list-item-title{
    width: calc(100% - 80px);
  }
  .list-item-right-mobile{
    display: flex;
  }
  .tenders-list-item{
    flex-wrap: wrap;
  }
  /* .search,
  .search input{
    width: 100%;
  } */
  .header-slider{
    max-height: 190px;
  }
  .header-slider::before{
    background-position: 95px 60px;
    background-size: 95%;
  }
  .slider-content {
    width: 50%;
    margin-top: 35px;
    margin-left: 31px;
  }
  .slider-content-title{
    font-size: 16px;
  }
  .slider-content-description{
    display: none;
  }
  .tender-details-header{
    flex-direction: column;
    align-items: flex-start;
  }
  .tender-details-right-status p {
    display: none;
  }
  .tender-details-right-status{
    border-left: none;
  }
  .tender-details-right{
    width: 100%;
    justify-content: space-between;
  }
  .tender-details-right-time{
    flex-wrap: wrap;
  }
  .tender-details-document-content{
    overflow: auto;
  }
}