.not-found {
  background: #fff;

  .header {
    box-shadow: none;

    .site-logo {
      img {
        width: 156px;
      }
    }
  }

  &__wrap {
    & > img {
      margin: 0 auto;
      max-height: 60vh;
      object-fit: cover;
    }
  }

  &__texts {
    margin-top: 50px;
    h2 {
      margin-bottom: 12px;
      color: #f1616f;
      font-size: 24px;
      font-weight: 600;
      text-align: center;
    }

    p {
      margin: 0 auto;
      max-width: 328px;
      color: #2d3e4d;
      font-size: 16px;
      font-weight: 400;
      text-align: center;

      a {
        color: #32b4d7;
        text-decoration: underline;
      }
    }
  }
}
