.dashboard {
  &__header {
    margin-bottom: 32px;
    h2 {
      color: $color-text-main;
      font-size: 23px;
      font-weight: 700;
    }
  }

  &__stats {
    margin-bottom: 37px;

    &__item {
      padding: 20px;
      padding-left: 40px;
      height: 160px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      color: $color-white;
      border-radius: 12px;
      background-position: top right;
      background-repeat: no-repeat;
      background-origin: content-box;

      @media only screen and (max-width: 576px) {
        padding-left: 20px;
      }

      &--1 {
        background-color: $color-brand-2;
        background-image: url('../img/shield.svg');
        background-size: 40px;

        @media only screen and (max-width: 768px) {
          margin-bottom: 30px;
        }
      }
      &--2 {
        background-color: #55b14f;
        background-image: url('../img/hourglass.svg');
        background-size: 30px;

        @media only screen and (max-width: 768px) {
          margin-bottom: 30px;
        }
      }
      &--3 {
        background-color: $color-danger;
        background-image: url('../img/file-text.svg');
        background-size: 40px;
      }
      &--4 {
        background-color: #7d6eb2;
        background-image: url('../img/user.svg');
        background-size: 40px;
      }
      div {
        font-size: 43px;
        font-weight: 500;

        @media only screen and (max-width: 576px) {
          font-size: 24px;
        }
      }
      p {
        font-size: 13px;
        font-weight: 500;
      }
    }
  }

  &__form {
    margin-bottom: 30px;

    &__heading {
      ul {
        display: flex;
        overflow-x: auto;
        overflow-y: hidden;

        &::-webkit-scrollbar {
          display: none;
        }
      }
      li {
        position: relative;
        margin-bottom: -1px;
        padding: 20px 30px;
        color: $color-text-main;
        font-size: 12px;
        font-weight: 600;
        border: $border-1;
        border-bottom-color: $color-white;
        border-radius: 8px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        background: $color-white;
        z-index: 10;
        display: flex;
        flex-shrink: 0;

        &.disabled {
          color: $color-gray;
          border: none;
          background: transparent;

          @media only screen and (max-width: 576px) {
            display: none;
          }
        }
      }

      .export {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        color: $color-brand-2;
        font-size: 14px;
        font-weight: 600;
        background: transparent;
        border: none;
        cursor: pointer;

        img {
          margin-right: 6px;
        }
      }
    }

    &__content {
      form {
        width: 100%;
        background: $color-white;
        border-radius: 8px;
        border-top-left-radius: 0;
        padding: 25px 30px;
        border: $border-1;
      }
    }

    .margin-sm {
      @media only screen and (max-width: 768px) {
        margin-bottom: 30px;
      }
    }
    .margin-md {
      @media only screen and (max-width: 992px) {
        margin-bottom: 30px;
      }
    }

    &__field {
      display: flex;
      flex-direction: column;
      &:not(:last-child) {
        margin-bottom: 17px;
      }
      label {
        margin-bottom: 9px;
        color: $color-text-main;
        font-family: $font-main;
        font-size: 12px;
        font-weight: 500;
      }
      input {
        padding: 0 20px;
        min-width: 272px;
        height: 48px;
        color: $color-text-main;
        font-family: $font-main;
        font-size: 14px;
        border: $border-1;
        border-radius: 8px;

        @media only screen and (max-width: 1250px) {
          min-width: auto;
        }

        @media only screen and (max-width: 991px) {
          width: 100%;
        }
      }
    }

    &__cta {
      margin-top: 17px;
      padding-right: 15px;
      display: flex;
    }
    button[type='reset'] {
      margin-right: 34px;
      color: $color-text-sec;
      font-size: 12px;
      font-weight: 500;
      background: transparent;
      border: none;
      cursor: pointer;

      &:hover {
        color: darken($color-text-sec, 30%);
      }
    }
    button[type='submit'] {
      width: 108px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: $color-brand-2;
      border: none;
      border-radius: 8px;
      cursor: pointer;
      transition: all 0.2s linear;

      &:hover {
        background: darken($color-brand-2, 10%);
      }

      span {
        color: $color-white;
        font-size: 12px;
        font-weight: 600;
      }

      img {
        margin-right: 7px;
      }
    }
  }

  &__listing {
    &__title {
      h3 {
        position: relative;
        font-weight: 400;
      }
      & ~ span {
        color: $color-gray;
        font-size: 11px;
        font-weight: 400;
      }
    }
  }

  &__table {
    border-radius: 8px;
    border: 2px solid #f0f0f0;
    width: 100%;

    @media only screen and (max-width: 991px) {
      overflow-x: auto;
    }

    table {
      width: 100%;
      border-collapse: collapse;

      thead {
        th {
          padding-top: 15px;
          padding-bottom: 15px;
          padding-left: 10px;
          padding-right: 10px;
          color: $color-text-main;
          font-size: 11px;
          font-weight: 500;
          text-align: center;
          &:first-child {
            text-align: left;
            padding-left: 20px;
          }
          &:last-child {
            padding-right: 20px;
          }
        }
      }
      tbody {
        tr {
          &:nth-child(odd) {
            background: rgba(240, 240, 240, 0.5);
          }
        }
        td {
          padding-top: 20px;
          padding-bottom: 20px;
          padding-left: 10px;
          padding-right: 10px;
          color: $color-text-main;
          font-size: 12px;
          font-weight: 500;
          text-align: center;
          &:first-child {
            text-align: left;
            padding-left: 20px;

            @media only screen and (max-width: 991px) {
              min-width: 240px;
            }
          }
          &:last-child {
            padding-right: 20px;
          }
          span {
            display: block;
            white-space: nowrap;
          }
        }
      }
    }
  }
}

.status {
  width: 80px !important;
  height: 28px;
  padding: 5px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $color-white;
  font-size: 9px;

  &--complete {
    background: #fd7804;
  }

  &--accepting {
    background: #fbaa38;
  }

  &--selecting {
    background: #7d6eb2;
  }

  &--contract {
    background: #55b14f;
  }

  &--negative {
    background: $color-danger;
  }
}

.chat-btn {
  width: 24px;
  height: 24px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;

  i {
    color: $color-white;
  }

  &--blue {
    background: $color-brand-2;
  }

  &--red {
    background: $color-danger;
  }
}
