.register {
  margin-bottom: 40px;
  width: 100%;
  padding: 80px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #e9ecf2;
  border-radius: 8px;
  background: var(--color-white-1);

  .form {
    @media only screen and (max-width: 568px) {
      margin-bottom: 30px;
      max-width: 90%;
      margin: 0 auto;
    }

    &__header {
      margin-bottom: 46px;
    }

    &__title {
      color: #2d3e4d;
      font-size: 28px;
      font-weight: 900;
      text-align: center;

      @media only screen and (max-width: 568px) {
        font-size: 23px;
        font-weight: 500;
      }
    }

    &__section {
      margin-bottom: 40px;

      @media only screen and (max-width: 568px) {
        margin-bottom: 30px;
      }

      &__title {
        text-align: center;
        position: relative;
        margin-bottom: 40px;

        span {
          position: relative;
          padding: 0 14px;
          color: #707070;
          font-size: 14px;
          font-weight: 500;
          background: var(--color-white-1);
          z-index: 2;
        }

        &::before {
          content: "";
          position: absolute;
          top: 50%;
          left: 50px;
          transform: translateY(-50%);
          width: 448px;
          height: 1px;
          background: #e5e7ea;

          @media only screen and (max-width: 768px) {
            width: 90%;
            left: 20px;
          }
        }
      }
    }

    &__field {
      position: relative;
      margin-bottom: 14px;
      display: grid;
      grid-template-columns: 170px 368px;
      column-gap: 30px;
      align-items: center;

      @media only screen and (max-width: 768px) {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      }

      .verify {
        position: absolute;
        bottom: 12px;
        right: 20px;

        &.verified::before {
          content: "\f058";
          position: absolute;
          bottom: 0;
          right: 0;
          width: 20px;
          height: 20px;
          color: #03af5c;
          font-family: "Font Awesome 5 Free";
          font-weight: 900;
        }
        &.error::before {
          content: "\f057";
          position: absolute;
          bottom: 0;
          right: 0;
          width: 20px;
          height: 20px;
          color: #f1616f;
          font-family: "Font Awesome 5 Free";
          font-weight: 900;
        }
      }
    }

    label {
      color: #141b3d;
      font-size: 12px;
      font-weight: 500;
      text-align: right;

      @media only screen and (max-width: 768px) {
        margin-bottom: 12px;
      }
    }

    input,
    select,
    option {
      width: 100%;
      max-width: 368px;
      height: 48px;
      padding: 0 10px;
      font-family: "FiraGO", sans-serif;
      font-size: 13px;
      font-weight: 400;
      border: 1px solid #dadde2;
      border-radius: 8px;

      &::placeholder {
        font-family: "FiraGO", sans-serif;
      }
    }

    button {
      margin-left: auto;
      display: block;
      width: 100%;
      height: 50px;
      max-width: 368px;
      color: var(--color-white-1);
      font-family: "FiraGO", sans-serif;
      font-size: 16px;
      font-weight: 400;
      border: none;
      border-radius: 8px;
      background: #32b4d7;
      cursor: pointer;
    }
  }
}
