.user {
  box-shadow: 0 3px 90px rgba(172, 172, 175, 0.2);
  &__general-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-bottom: 35px;
    border-bottom: 1px solid #eceef2;

    @media (max-width: 991px) {
      flex-direction: row;
      justify-content: center;
    }
  }
  &__avatar {
    position: relative;
    width: 90px;
    height: 90px;
    border-radius: 100%;
    border: 1px solid var(--color-gray-1);
    padding: 6px;

    @media (max-width: 991px) {
      margin-right: 13px;
    }

    img {
      width: 100%;
      height: 100%;
    }
  }
  &__title {
    margin-top: 15px;
    color: var(--color-dark);
    font-size: 13px;
    font-weight: 500;

    @media (max-width: 991px) {
      margin-top: 0;
    }
  }

  &__tenders-count {
    margin-top: 11px;
    color: var(--color-gray-2);
    font-size: 11px;
    font-weight: 400;
    text-align: center;

    @media (max-width: 991px) {
      text-align: left;
    }
  }

  &__menu {
    margin-top: 24px;

    @media (max-width: 991px) {
      .hide-on-md {
        display: none;
      }
    }

    li {
      &:not(:last-child) {
        margin-bottom: 20px;
      }

      &.active {
        i {
          display: block;
        }
      }

      a {
        position: relative;
        display: flex;
        align-items: center;
        color: var(--color-dark);
        font-size: 11px;
        font-weight: 400;

        i {
          display: none;
          position: absolute;
          right: 0;
          float: right;
        }

        &.active {
          color: #2d3e4d;
          font-weight: 500;
        }
      }
    }

    img {
      width: 20px;
      margin-right: 12px;
    }
  }
}

.user-avatar-upload {
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 30px;
  height: 30px;
  padding: 5px;
  border: none;
  border-radius: 30px;
  background: var(--color-white-1);
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.09);
  cursor: pointer;
}
.user-avatar-upload img {
  display: block;
}

.user-edit {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.16);
  min-height: 500px;

  @media only screen and (max-width: 991px) {
    min-height: auto;
  }

  &__title {
    margin-bottom: 34px;
    color: var(--color-dark);
    font-size: 23px;
    font-weight: 700;

    @media (max-width: 991px) {
      margin-bottom: 25px;
      font-size: 16px;
    }
  }

  label {
    width: 100%;
    display: block;
    margin-bottom: 24px;

    @media (max-width: 991px) {
      margin-bottom: 20px;
    }
  }

  input,
  select {
    padding: 16px 25px;
    max-width: 453px;
    width: 100%;
    color: var(--color-dark);
    font-family: inherit;
    font-size: 13px;
    font-weight: 400;

    &::placeholder {
      font-family: "FiraGO", sans-serif;
    }
  }

  select {
    background: #f4f4f4;
    border: 1px solid #dadde2;
    border-radius: 8px;
  }

  p {
    margin-bottom: 12px;
    color: var(--color-dark);
    font-size: 12px;
    font-weight: 500;
  }

  button {
    padding: 16px 40px;
    color: var(--color-white-1);
    font-family: "FiraGO", sans-serif;
    font-size: 12px;
    font-weight: 900;
    letter-spacing: 0.3px;
    border: none;
    border-radius: 6px;
    background: var(--color-main-2);
    cursor: pointer;
  }
}
