.status {
  width: 68px !important;
  min-width: 68px !important;
  font-size: 11px;
  border-radius: 4px;
  &--active {
    color: $color-white !important;
    background: #08b557;
  }

  @media only screen and (max-width: 1330px) {
    padding: 4px 6px;
  }
}

.edit {
  &.active {
    i {
      opacity: 1 !important;
    }
  }
}

.edit-menu {
  position: absolute;
  width: 130px;
  padding: 20px 14px;
  background: $color-white;
  border-radius: 4px;
  box-shadow: 0 3px 16px rgba($color-black, 0.16);
  z-index: 10;

  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s linear;

  &--mobile {
    right: -20px;
    top: 24px;
  }

  &--desktop {
    right: -10px;
    bottom: -60px;
  }

  &.active {
    visibility: initial;
    opacity: 1;
    pointer-events: initial;
  }
  &::before {
    content: "";
    position: absolute;
    top: -5px;
    right: 25px;
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
    background: $color-white;
  }
  li {
    &:not(:last-child) {
      margin-bottom: 12px;
    }

    a {
      display: flex;
      color: $color-text-third;
      font-size: 10px;
      font-weight: 500;

      &.delete-user {
        color: $color-danger;
      }
    }

    img {
      margin-right: 6px;
    }
  }
}

.add-user-btn {
  display: flex;
  align-items: center;
  border: none;
  background: transparent;
  cursor: pointer;

  i {
    margin-right: 6px;
    color: $color-text-third;
    font-size: 14px;
  }

  span {
    color: $color-text-main;
    font-family: $font-main;
    font-size: 12px;
    font-weight: 500;
  }
}

.add-user {
  h3 {
    margin-bottom: 32px;
    color: $color-text-third;
    font-size: 28px;
    font-weight: 900;

    @media only screen and (max-width: 1367px) {
      margin-bottom: 20px;
      font-size: 24px;
    }
  }
  &__field {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;

    @media only screen and (max-width: 1367px) {
      margin-bottom: 14px;
    }

    label {
      margin-bottom: 12px;
      color: $color-text-main;
      font-size: 12px;
      font-weight: 500;

      @media only screen and (max-width: 1367px) {
        margin-bottom: 6px;
      }
    }

    input[type="text"],
    input[type="tel"],
    input[type="email"] {
      width: 100%;
      height: 48px;
      padding: 0 20px;
      color: $color-text-main;
      font-family: $font-main;
      font-size: 13px;
      font-weight: 400;
      border: $border-1;
      border-radius: 8px;

      @media only screen and (max-width: 1367px) {
        height: 36px;
      }
    }
  }
  button {
    width: 100%;
    height: 52px;
    color: $color-white;
    font-family: $font-main;
    font-size: 16px;
    font-weight: 600;
    background: $color-brand-2;
    border: none;
    border-radius: 8px;
    cursor: pointer;

    @media only screen and (max-width: 1367px) {
      height: 40px;
      font-size: 12px;
    }
  }
}

.users-desktop {
  @media only screen and (max-width: 768px) {
    display: none;
  }

  &__item {
    position: relative;
    padding: 20px 25px;
    display: grid;
    grid-template-columns: 20px 3fr 3fr 3fr 3fr 68px 20px;
    column-gap: 15px;
    align-items: center;
    background: rgba(242, 242, 242, 0.4);

    &:first-child {
      background: #edeef0;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
    }
    &:last-child {
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
    }
    &:not(:last-child) {
      border-bottom: $border-1;
    }
    &:not(:first-child) {
      &:hover {
        i {
          opacity: 1;
        }
      }
    }

    div {
      color: $color-text-third;
      font-size: 12px;
      white-space: nowrap;
    }

    button {
      border: none;
      background: transparent;
      cursor: pointer;

      i {
        color: $color-gray;
        font-size: 20px;
        opacity: 0;
        transition: opacity 0.2s linear;

        @media only screen and (max-width: 768px) {
          visibility: initial;
          opacity: 1;
          pointer-events: all;
        }
      }
    }
  }
}

.users-mobile {
  @media only screen and (min-width: 768px) {
    display: none;
  }

  &__item {
    margin-bottom: 18px;
    padding-bottom: 12px;
    border-bottom: $border-1;
  }

  h1 {
    margin-bottom: 18px;
    color: $color-text-main;
    font-size: 16px;
    font-weight: 900;
  }

  &__top {
    position: relative;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;

    .name {
      margin-right: 10px;
      color: $color-text-third;
      font-size: 14px;
      line-height: 2;
    }

    .status {
      margin-right: auto;
    }

    button {
      border: none;
      background: transparent;
      cursor: pointer;

      i {
        color: $color-gray;
        font-size: 20px;
      }
    }
  }

  &__middle {
    display: flex;

    .position,
    .department {
      color: rgba($color-text-third, 0.5);
      font-size: 10px;
    }

    .position {
      margin-right: 20px;
    }
  }

  &__bottom {
    a {
      color: rgba($color-text-third, 0.5);
      font-size: 10px;
    }
  }
}
