<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>TENDERS.GE</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css"
    />
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <header class="header">
      <div class="container">
        <div class="header__content">
          <div class="header__left">
            <div class="site-logo">
              <a href="/">
                <img src="img/logo.png" alt="TENDERS.GE" />
              </a>
              <h1 class="sr-only">tenders.ge</h1>
            </div>
            <!-- end .site-logo -->
            <nav class="main_nav">
              <h2 class="sr-only">ნავიგაცია</h2>
              <ul>
                <li><a href="">შესყიდვის პროცესი</a></li>
                <li><a href="">გამოწერა</a></li>
                <li><a href="">კონტაქტი</a></li>
                <li><a href="">კითხვები</a></li>
                <li><a href="" class="accented">დეშბორდი</a></li>
              </ul>
            </nav>
          </div>
          <!-- end .header__left -->
          <div class="header__right">
            <div class="header__favorites">
              <a href="#">
                <i class="far fa-star"></i>
              </a>
            </div>
            <!-- User -->
            <div class="header__user">
              <figure class="header__user__avatar">
                <img
                  src="https://static.thenounproject.com/png/363640-200.png"
                  alt="User Avatar"
                />
              </figure>
              <p>ანგარიში</p>
              <span><i class="fas fa-angle-down"></i></span>
            </div>
            <!-- end .header__user -->
            <a href="#" class="header__announce">გამოცხადება</a>
            <!-- Language -->
            <ul class="header__lang">
              <li>
                <a href="#"><img src="img/eng.png"/></a>
              </li>
            </ul>
            <!-- Mobile Navigation -->
            <div class="mobile-nav">
              <button class="mobile-nav__icon">
                <i class="fas fa-bars"></i>
              </button>
              <div class="mobile-nav__bg"></div>
              <nav>
                <ul>
                  <button class="mobile-nav__close">
                    <i class="fas fa-times"></i>
                  </button>
                  <li><a href="">შესყიდვის პროცესი</a></li>
                  <li><a href="">გამოწერა</a></li>
                  <li><a href="">კონტაქტი</a></li>
                  <li><a href="">კითხვები</a></li>
                </ul>
              </nav>
            </div>
          </div>
          <!-- end .header__right -->
        </div>
        <!-- end .header__content -->
      </div>
      <!-- end .container -->
    </header>

    <div class="container" style="position: relative;">
      <div class="header__user__dropdown">
        <ul>
          <li>
            <a href="#">
              <img src="img/company.svg" alt="" />
              <span>
                კომპანიის ინფორმაცია
              </span>
            </a>
          </li>
          <li>
            <a href="#">
              <img src="img/users.svg" alt="" />
              <span>
                მომხარებლები
              </span>
            </a>
          </li>
          <li>
            <a href="#">
              <img src="img/avatar.svg" alt="" />
              <span>
                პირადი ინფორმაცია
              </span>
            </a>
          </li>
          <li>
            <a href="#">
              <img src="img/padlock.svg" alt="" />
              <span>
                პაროლის შეცვლა
              </span>
            </a>
          </li>
          <li>
            <a href="#" class="danger">
              <img src="img/sign-out.svg" alt="" />
              <span>
                გასვლა
              </span>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col">
          <!-- Chat Box -->
          <div class="chat">
            <div class="chat__msgs">
              <!-- ეს არ წაშალოთ -->
              <div class="mb-4"></div>

              <!-- Message -->
              <div class="msg msg--sent">
                <!-- Message Author & Message detailes -->
                <div class="msg__info msg__info--sent">
                  <div class="msg__author">A</div>
                  <time class="msg__date">
                    <span class="date">13 დეკ.</span>
                    <span class="time">13:40</span>
                  </time>
                  <button class="msg__del">წაშლა</button>
                </div>
                <!-- Message text -->
                <div class="msg__content msg__content--sent">
                  <div class="msg__text">
                    <div class="msg__text__author">შ.პ.ს ელკო</div>
                    <div class="msg__text__body">
                      <p>
                        გამარჯობა, გიგზავნით ჩარიცხვის ჩეკებს და ასევე ინვოისის
                        ნომერს რათა მოხდეს ბანკში ადვილად გადამოწმება გამარჯობა,
                        გიგზავნით ჩარიცხვის ჩეკებს და ასევე ინვოისის ნომერს რათა
                        მოხდეს ბანკში ადვილად გადამოწმება გამარჯობა, გიგზავნით
                        ჩარიცხვის ჩეკებს და ასევე ინვოისის ნომერს რათა მოხდეს
                        ბანკში ადვილად გადამოწმება გამარჯობა, გიგზავნით
                        ჩარიცხვის ჩეკებს და ასევე ინვოისის ნომერს რათა მოხდეს
                        ბანკში ადვილად გადამოწმება
                      </p>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Message -->
              <div class="msg msg--sent">
                <!-- Message Author & Message detailes -->
                <div class="msg__info msg__info--sent">
                  <div class="msg__author">A</div>
                  <time class="msg__date">
                    <span class="date">13 დეკ.</span>
                    <span class="time">13:40</span>
                  </time>
                  <button class="msg__del">წაშლა</button>
                </div>
                <!-- Message text -->
                <div class="msg__content msg__content--sent">
                  <div class="msg__reply-to">
                    <p>გამარჯობა ალექსანდრე, გთხოვთ დაგვიდასტუროთ ჩარიცხვა</p>
                  </div>
                  <div class="msg__text msg__text--reply">
                    <div class="msg__text__author">შ.პ.ს ელკო</div>
                    <div class="msg__text__body">
                      <p>
                        გამარჯობა, გიგზავნით ჩარიცხვის ჩეკებს და ასევე ინვოისის
                        ნომერს რათა მოხდეს ბანკში ადვილად გადამოწმება გამარჯობა,
                        გიგზავნით ჩარიცხვის ჩეკებს და ასევე ინვოისის ნომერს რათა
                        მოხდეს ბანკში ადვილად გადამოწმება გამარჯობა, გიგზავნით
                        ჩარიცხვის ჩეკებს და ასევე ინვოისის ნომერს რათა მოხდეს
                        ბანკში ადვილად გადამოწმება გამარჯობა, გიგზავნით
                        ჩარიცხვის ჩეკებს და ასევე ინვოისის ნომერს რათა მოხდეს
                        ბანკში ადვილად გადამოწმება
                      </p>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Message -->
              <div class="msg msg--received">
                <!-- Message Author & Message detailes -->
                <div class="msg__info msg__info--received">
                  <div class="msg__author msg__author--received">A</div>
                  <time class="msg__date">
                    <span class="date">13 დეკ.</span>
                    <span class="time">13:40</span>
                  </time>
                  <button class="msg__del">წაშლა</button>
                </div>
                <!-- Message text -->
                <div class="msg__content msg__content--received">
                  <div class="msg__text">
                    <div class="msg__text__author">შ.პ.ს ელკო</div>
                    <div class="msg__text__body">
                      <p>
                        გამარჯობა, გიგზავნით ჩარიცხვის ჩეკებს და ასევე ინვოისის
                        ნომერს რათა მოხდეს ბანკში ადვილად გადამოწმება გამარჯობა,
                        გიგზავნით ჩარიცხვის ჩეკებს და ასევე ინვოისის ნომერს რათა
                        მოხდეს ბანკში ადვილად გადამოწმება გამარჯობა, გიგზავნით
                        ჩარიცხვის ჩეკებს და ასევე ინვოისის ნომერს რათა მოხდეს
                        ბანკში ადვილად გადამოწმება გამარჯობა, გიგზავნით
                        ჩარიცხვის ჩეკებს და ასევე ინვოისის ნომერს რათა მოხდეს
                        ბანკში ადვილად გადამოწმება
                      </p>
                    </div>
                  </div>
                </div>

                <button class="reply">
                  <img src="img/reply.svg" alt="reply" />
                </button>
              </div>

              <!-- ეს არ წაშალოთ -->
              <div class="mb-4"></div>
            </div>

            <div class="chat__input-box">
              <form action="#">
                <!-- File Upload button -->
                <button class="uploadfile-btn chat__upload-file">
                  <img src="img/clip.svg" alt="" />
                  <span>ატვირთეთ ფაილი</span>
                </button>

                <!-- Write Message textarea -->
                <div class="chat__field">
                  <textarea
                    name="message"
                    placeholder="შეიყვანეთ შეტყობინება"
                  ></textarea>
                  <button type="submit">
                    <span class="chat__textBtn">გაგზავნა</span>
                    <span class="chat__iconBtn">
                      <img src="img/send.svg" alt="send message" />
                    </span>
                  </button>
                </div>
              </form>
            </div>
          </div>
          <!-- End Chat Box -->
        </div>
      </div>
    </div>

    <div class="modal">
      <div class="modal__content">
        <button class="modal__close"><i class="fas fa-times"></i></button>

        <form action="#" class="modal__file-upload">
          <div class="file-upload-input">
            <p>ფაილი</p>
            <div class="file-upload-wrap">
              <input type="file" name="" id="file" class="inputfile" />
              <label for="file">
                <div>
                  <img src="img/upload.svg" alt="" />
                  <span>აირჩიეთ ფაილი</span>
                </div>
              </label>
            </div>
          </div>

          <label for="filenames">
            <p>ფაილის დასახელება</p>
            <textarea
              name="filenames"
              id="filenames"
              placeholder="ეს არის ტენდერების სია"
            ></textarea>
          </label>

          <button>დამახსოვრება</button>
        </form>
      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
