<!-- PDF -->
<div class="add-tender-uploaded-item">
  <div class="add-tender-uploaded-icon">
    <img src="img/pdf.svg" />
  </div>
  <span>Documentation.pdf</span>
  <div class="add-tender-uploaded-item-remove">
    <img src="img/close.svg" alt="close" />
  </div>
</div>
<!-- end uploaded item -->

<!-- IMG -->
<div class="add-tender-uploaded-item">
  <div class="add-tender-uploaded-icon">
    <img src="img/img.svg" />
  </div>
  <span>Documentation.pdf</span>
  <div class="add-tender-uploaded-item-remove">
    <img src="img/close.svg" alt="close" />
  </div>
</div>
<!-- end uploaded item -->

<!-- XLS -->
<div class="add-tender-uploaded-item">
  <div class="add-tender-uploaded-icon">
    <img src="img/xls.svg" />
  </div>
  <span>Documentation.pdf</span>
  <div class="add-tender-uploaded-item-remove">
    <img src="img/close.svg" alt="close" />
  </div>
</div>
<!-- end uploaded item -->

<!-- ZIP -->
<div class="add-tender-uploaded-item">
  <div class="add-tender-uploaded-icon">
    <img src="img/zip.svg" />
  </div>
  <span>Documentation.pdf</span>
  <div class="add-tender-uploaded-item-remove">
    <img src="img/close.svg" alt="close" />
  </div>
</div>
<!-- end uploaded item -->

<!-- FOLDER -->
<div class="add-tender-uploaded-item">
  <div class="add-tender-uploaded-icon">
    <img src="img/folder.svg" />
  </div>
  <span>Documentation.pdf</span>
  <div class="add-tender-uploaded-item-remove">
    <img src="img/close.svg" alt="close" />
  </div>
</div>
<!-- end uploaded item -->

<!-- ამ კომპონენტს აქვს ჰოვერზე სრული დასახელების გამოჩენის ფუნქცია -->
<div class="tender-details-document">
  <div class="tender-details-document-icon">
    <img src="img/pdf.svg" />
  </div>
  <span class="truncated-title">documentation.pdf</span>
  <!-- ამ სპანში მიუთითეთ სრული დასახელება -->
  <span class="full-title">documentation.pdf</span>
</div>
<!-- end .tender-details-document -->
