.site-logo {
  img {
    width: 180px;
    height: 40px;
    object-fit: cover;
  }
}
.logo h1 {
  font-family: $font-main;
  font-size: 23px;
  letter-spacing: 1.76px;
  color: $color-text-main;
}

.logo p {
  width: 27px;
  height: 14px;
  background: $color-brand-1;
  border-radius: 7px;
  color: $color-white;
  font-family: $font-main;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -12px;
  right: 0;
  font-size: 7px;
}
