.main_nav {
  margin-left: 38px;

  @media (max-width: 991px) {
    display: none;
  }

  ul {
    display: flex;
  }

  li {
    &:not(:last-child) {
      margin-right: 20px;

      @media (max-width: 1250px) {
        margin-right: 15px;
      }
    }
  }

  a {
    &:link,
    &:visited {
      color: $color-text-main;
      font-family: $font-main;
      font-size: 12px;
      font-weight: 400;

      &.active {
        color: $color-brand-1;
        font-weight: 500;
      }
    }
  }
}
