.review {
  &:not(:last-child) {
    margin-bottom: 30px;
  }
  &__heading {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    h3 {
      color: #141b3d;
      font-size: 12px;
      font-weight: 500;
    }

    button {
      display: flex;
      align-items: center;
      border: none;
      background: transparent;
      cursor: pointer;
      img {
        margin-right: 6px;
      }
      span {
        color: #acacaf;
        font-family: "FiraGO", sans-serif;
        font-size: 12px;
        font-weight: 500;
      }
    }
  }

  &__content {
    padding: 38px 30px;
    border: 1px solid #dadde2;
    border-radius: 8px;

    @media (max-width: 768px) {
      padding: 20px;
    }

    &__title {
      padding-bottom: 36px;
      margin-bottom: 20px;
      color: #141b3d;
      font-size: 12px;
      font-weight: 400;
      border-bottom: 1px solid #dadde2;

      @media (max-width: 768px) {
        padding-bottom: 20px;
      }
    }
  }

  &__attachments {
    display: flex;
  }

  &__listing {
    li {
      padding-left: 15px;
      position: relative;
      color: #141b3d;
      font-size: 11px;
      line-height: 1.5;

      &::before {
        content: "\f111";
        position: absolute;
        top: 2px;
        left: 0;
        color: #acacaf;
        font-family: "Font Awesome 5 Free";
        font-size: 8px;
        font-weight: 700;
      }

      &:not(:last-child) {
        margin-bottom: 14px;
      }
    }
  }

  &__companies {
    li {
      display: flex;

      &:not(:last-child) {
        margin-bottom: 28px;
        padding-bottom: 28px;
        border-bottom: 1px solid #dadde2;

        @media (max-width: 768px) {
          margin-bottom: 20px;
          padding-bottom: 20px;
        }
      }

      p {
        flex: 0 0 50%;
        color: #141b3d;
        font-size: 12px;
        font-weight: 400;
      }

      a {
        flex: 0 0 50%;
        color: #141b3d;
        font-size: 12px;
        font-weight: 400;
      }
    }
  }
}
