.documents {
  &__heading {
    display: flex;
    flex-direction: row;
    padding: 12px 28px 12px 34px;
    &__title {
      flex: 0 0 50%;
      color: #55646f;
      font-size: 13px;
      font-weight: 500;
    }
    &__type {
      flex: 0 0 15%;
      color: #55646f;
      font-size: 13px;
      font-weight: 500;
    }
    &__size {
      flex: 0 0 15%;
      color: #55646f;
      font-size: 13px;
      font-weight: 500;
    }
  }

  &__listing {
    &__item {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 12px 28px 12px 34px;
      background: #fafafa;
      &__name {
        flex: 0 0 50%;
        color: $color-text-third;
        font-size: 14px;
        font-weight: 400;
        display: flex;
        align-items: center;
        img {
          margin-right: 14px;
        }
      }
      &__type {
        flex: 0 0 15%;
        color: $color-text-third;
        font-size: 14px;
        font-weight: 400;
      }
      &__size {
        flex: 0 0 15%;
        color: $color-text-third;
        font-size: 14px;
        font-weight: 400;
      }
      &__ctas {
        display: flex;
        &__download {
          margin-right: 12px;
          padding: 5px 10px;
          display: flex;
          align-items: center;
          border: none;
          border-radius: 12px;
          background: $color-brand-2;
          cursor: pointer;
          i {
            margin-right: 6px;
            color: $color-white;
            font-size: 12px;
          }
          span {
            color: $color-white;
            font-family: $font-main;
            font-size: 10px;
            font-weight: 500;
          }
        }
        &__delete {
          border: none;
          background: transparent;
          cursor: pointer;
          i {
            color: $color-danger;
            font-size: 24px;
          }
        }
      }
    }
  }

  &__footer {
    padding: 32px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    &__uploadfile {
      display: flex;
      align-items: center;
      padding: 16px 28px;
      border: none;
      border-radius: 6px;
      background: $color-brand-2;
      cursor: pointer;
      img {
        margin-right: 10px;
      }
      span {
        color: $color-white;
        font-family: $font-main;
        font-size: 13px;
        font-weight: 500;
      }
    }
  }
}

.offered-amount {
  margin: 50px auto;
  max-width: 388px;
  &__form {
    &__field {
      margin-bottom: 14px;
      display: flex;
      border-radius: 8px;
      box-shadow: 0 2px 3px rgba(0, 0, 0, 0.08);

      & > div {
        position: relative;
      }

      input {
        height: 48px;
        width: 258px;
        padding: 16px 60px 16px 22px;
        color: $color-text-sec;
        font-family: $font-main;
        font-size: 14px;
        font-weight: 300;
        border: $border-1;
        border-right: none;
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;

        &::placeholder {
          color: $color-text-sec;
          font-family: $font-main;
          font-size: 14px;
          font-weight: 300px;
        }
      }

      .currency {
        position: absolute;
        top: 50%;
        right: 12px;
        transform: translateY(-50%);
        width: 40px;
        height: 26px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #eceff2;
        border: 1px solid $color-gray;
        border-radius: 4px;
      }

      button {
        padding: 16px 22px;
        height: 48px;
        color: $color-white;
        font-family: $font-main;
        font-size: 14px;
        font-weight: 500;
        border: none;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        background: $color-brand-2;
        cursor: pointer;
      }
    }
  }

  &__suggestions {
    margin-bottom: 24px;
    display: flex;

    & > div {
      padding: 9px 15px;
      color: $color-text-sec;
      font-size: 12px;
      font-weight: 400;
      border-radius: 16px;
      border: 1px solid #dee3e6;

      &:not(:last-child) {
        margin-right: 8px;
      }
    }
  }

  &__note {
    display: flex;
    align-items: flex-start;

    span {
      color: $color-danger;
      font-size: 11px;
      font-weight: 400;
    }
  }
}
