/* Questions Tab */
.questions-container {
  border: 1px solid $color-brand-2;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;

  &--desktop {
    @media only screen and (max-width: 768px) {
      display: none;
    }
  }

  &:not(:last-child) {
    margin-bottom: 28px;
  }
}
.questions-header {
  height: 53px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $color-brand-2;
}
h3.questions-title {
  margin: 0;
  color: $color-white;
  font-size: 16px;
  font-weight: 500;
}

.close-chat-wrap {
  h3 {
    max-width: 288px;
    color: $color-text-third;
    font-size: 23px;
    font-weight: 800;
    text-align: center;
  }

  div {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
  }

  button {
    flex: 0 0 134px;
    height: 44px;
    color: $color-white;
    font-size: 14px;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    cursor: pointer;

    &.close {
      background: $color-danger;
    }
    &.cancel {
      background: #9da9b4;
    }
  }
}
