/* Questions Tab */
.questions-container {
  border: 1px solid $color-brand-2;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;

  &:not(:last-child) {
    margin-bottom: 28px;
  }
}
.questions-header {
  height: 53px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $color-brand-2;
}
h3.questions-title {
  margin: 0;
  color: $color-white;
  font-size: 16px;
  font-weight: 500;
}
form.questions-form {
  position: relative;
  height: 125px;
  padding: 0 25px;
  background: #f7f7f7;
  display: flex;
  justify-content: center;
  align-items: center;

  &.chat-form {
    height: 180px;
  }
}
.questions-field {
  position: relative;
  width: 100%;
}
.questions-field textarea {
  display: block;
  padding: 20px 150px 20px 20px;
  width: 100%;
  height: 60px;
  border: $border-1;
  border-radius: 8px;
}
.questions-field button {
  position: absolute;
  top: 6px;
  right: 10px;
  width: 148px;
  height: 48px;
  border: none;
  border-radius: 8px;
  color: $color-white;
  font-family: inherit;
  font-size: 14px;
  font-weight: 500;
  background: $color-brand-2;
  cursor: pointer;
}
.questions-operator {
  display: flex;
  margin-bottom: 30px;
}
.operator-info {
  margin-right: 10px;
  display: flex;
  flex-direction: column;
}
.operator {
  width: 52px;
  height: 52px;
  border-radius: 100%;
  background: rgba(50, 180, 215, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  color: $color-brand-2;
  font-size: 23px;
  font-weight: 900;
}
.timestamp {
  margin-top: 5px;
  color: $color-text-main;
  font-size: 10px;
  font-weight: 400;
  text-align: center;
}
.message-body {
  max-width: 320px;
  padding: 25px;
  background: #f5f5f5;
  border-radius: 8px;
  border-top-left-radius: 0;
  border-bottom-right-radius: 24px;

  p {
    color: $color-text-third;
    font-size: 13px;
  }
}
.message-body p {
  margin: 0;
}

.questions-btn {
  margin-right: 44px;
  button {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: transparent;
    border: none;
    cursor: pointer;

    span {
      margin-top: 10px;
      white-space: nowrap;
    }
  }
}

.close-questions {
  position: absolute;
  bottom: 25px;
  right: 25px;
  button {
    display: flex;
    align-items: center;
    background: transparent;
    border: none;
    cursor: pointer;

    img {
      margin-right: 6px;
    }

    span {
      color: $color-text-third;
      font-size: 12px;
    }
  }
}

.questions {
  &__content {
    max-height: 480px;
    padding: 40px 35px;
    display: flex;
    flex-direction: column-reverse;
    overflow-y: scroll;
  }

  &__user {
    margin-bottom: 30px;
    display: flex;
    flex-direction: row-reverse;

    &__info {
      margin-left: 10px;
      display: flex;
      flex-direction: column;
    }

    &__name {
      width: 52px;
      height: 52px;
      border-radius: 100%;
      background: rgba(125, 110, 178, 0.1);
      display: flex;
      justify-content: center;
      align-items: center;
      color: #7d6eb2;
      font-size: 23px;
      font-weight: 900;
    }

    &__del {
      margin-top: 8px;
      color: $color-danger;
      font-size: 10px;
      font-weight: 400;
      border: none;
      background: transparent;
      cursor: pointer;
    }

    .message-body {
      border-top-left-radius: 8px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 24px;

      p {
        color: $color-text-third;
        font-size: 13px;
      }
    }
  }
}

.close-chat-wrap {
  h3 {
    max-width: 288px;
    color: $color-text-third;
    font-size: 23px;
    font-weight: 800;
    text-align: center;
  }

  div {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
  }

  button {
    flex: 0 0 134px;
    height: 44px;
    color: $color-white;
    font-size: 14px;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    cursor: pointer;

    &.close {
      background: $color-danger;
    }
    &.cancel {
      background: #9da9b4;
    }
  }
}
