.trade {
  &__time-left {
    margin: 35px 0;
    display: flex;
    align-items: center;
    justify-content: center;

    p {
      margin-right: 25px;
      color: #2d3e4d;
      font-size: 14px;
      font-weight: 400;
    }

    time {
      display: flex;

      & > span {
        margin: 0 10px;
        color: #acacaf;
        font-size: 20px;
      }

      .mins,
      .secs {
        text-align: center;
        div {
          color: #2d3e4d;
          font-size: 20px;
          font-weight: 700;
        }
        span {
          color: #acacaf;
          font-size: 10px;
          font-weight: 500;
        }
      }
    }
  }
  &__wrap {
    padding: 0 35px 35px 35px;
    display: flex;
    align-items: center;

    @media only screen and (max-width: 1254px) {
      flex-direction: column;
    }
  }
  &__offers {
    margin-right: 40px;
    padding: 16px 12px;
    border: 1px solid #f0f1f2;
    border-radius: 8px;
    box-shadow: 0 3px 36px rgba(0, 0, 0, 0.08);

    @media only screen and (max-width: 1254px) {
      margin-right: 0;
    }

    &__best {
      margin-bottom: 12px;
      color: #47a241;
      background: rgba(71, 162, 65, 0.1);
    }

    &__your {
      color: #f1616f;
      background: rgba(241, 97, 111, 0.1);
    }

    &__best,
    &__your {
      padding: 28px 55px;
      text-align: center;

      p {
        color: #5d6367;
        font-size: 11px;
        font-weight: 400;
        white-space: nowrap;
      }
    }

    &__amount {
      margin-bottom: 5px;
      font-size: 20px;
      font-weight: 600;
      white-space: nowrap;
    }
  }
  &__current-offers {
    margin-bottom: 28px;
    border: 1px solid var(--color-main-2);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    &__header {
      padding: 18px 36px;
      background: var(--color-main-2);
      h3 {
        margin: 0;
        color: var(--color-white-1);
        font-size: 16px;
        font-weight: 500;
      }
    }
    &__listing {
      table {
        width: 100%;
        border-collapse: collapse;
        tbody {
          tr {
            border-top: 1px solid #edeef0;
            background: rgba(242, 242, 242, 0.4);
            &.active {
              border: none;
              background: rgba(50, 180, 215, 0.1);
            }
          }
        }
        th {
          color: #5d6367;
          font-size: 13px;
          font-weight: 500;
          text-align: left;
          &:nth-child(1) {
            padding: 18px 20px 18px 18px;
          }
          &:nth-child(1),
          &:nth-child(3),
          &:nth-child(4),
          &:nth-child(5) {
            text-align: center;
          }
          &:nth-child(2),
          &:nth-child(3),
          &:nth-child(4) {
            padding: 18px 0;
          }
          &:nth-child(5) {
            padding: 18px 36px 18px 0;
          }
        }
        td {
          font-size: 14px;
          font-weight: 400;
          &:nth-child(1) {
            padding: 18px 20px 18px 18px;
          }
          &:nth-child(2) {
            display: flex;
            align-items: center;
          }
          &:nth-child(1),
          &:nth-child(3),
          &:nth-child(4),
          &:nth-child(5) {
            text-align: center;
          }
          &:nth-child(2),
          &:nth-child(3),
          &:nth-child(4) {
            padding: 18px 0;
          }
          &:nth-child(5) {
            padding: 18px 36px 18px 0;
          }
        }
      }
    }
  }
}

.offered-amount__note--black {
  margin-bottom: 10px;

  span {
    color: #5d6367;
  }
}
