*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-main;
  line-height: 1.5;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

input[type="text"],
input[type="email"],
input[type="password"],
select,
textarea,
button {
  font-family: $font-main;
  outline: none;

  &::placeholder {
    font-family: inherit;
  }
}
