// For SEO
.sr-only {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  // IE6, IE7
  clip: rect(1px, 1px, 1px, 1px);
}

.bg-light {
  background: $color-bg-main;
}

.flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.flex-start {
  justify-content: flex-start;

  & > * {
    flex: 0 0 50%;
  }
}

.align-center {
  align-items: center;
}

.align-start {
  align-items: flex-start;
}

.justify-center {
  justify-content: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.pad-x-1 {
  padding: 0 15px;
}

.pad-y-1 {
  padding: 15px 0;
}

.pad-xy-1 {
  padding: 15px;
}

.pad-x-2 {
  padding: 0 20px;
}

.pad-y-2 {
  padding: 20px 0;
}

.pad-xy-2 {
  padding: 20px;
}

.grid-4 {
  display: grid;
  grid-template-columns: 30px 5fr 2fr 2fr;
}

.grid-5 {
  display: grid;
  grid-template-columns: 30px 4fr 2fr 2fr 2fr;
}

.text-center {
  text-align: center;
}
