// Colors
$color-black: #000;
$color-white: #fff;
$color-gray: #acacaf;
$color-red: #e52942;

$color-brand-1: #0fb7ff;
$color-brand-2: #32b4d7;

$color-border: #dadde2;
$color-text-main: #141b3d;
$color-text-sec: #5d6367;
$color-text-third: #2d3e4d;
$color-bg-main: #f6f7f9;

$color-danger: #f1616f;
$color-success: #03af5c;

// Fonts
$font-main: "FiraGO", sans-serif;

// Border
$border-1: 1px solid $color-border;
