/* Variables */
:root {
  --color-main-1: #0fb7ff;
  --color-main-2: #32b4d7;
  --color-red: #e52942;
  --color-dark: #141b3d;
  --color-gray-1: #acacaf;
  --color-gray-2: #9da9b4;
  --color-gray-3: #5d6367;
  --color-gray-4: #dadde2;
  --color-gray-5: #cad0d8;
  --color-white-1: #ffffff;
  --color-white-2: #f6f7f9;
}
